= form_for :terminal, :method => :post, 'data-remote' => true do |f|
  %span#terminal_prompt_label
    = "#{ domain_name }:terminal-gui anonymous$"
  %span#terminal_prompt_before
  %span#terminal_prompt_cursor.on 
    &nbsp;
  %span#terminal_prompt_after
  #offscreen_container
    = f.text_field :prompt_offscreen, :autocomplete => :off
    = f.hidden_field :prompt_hidden
    
	