!!!
%html
  %head
    %title Coroutine | Concept Interface: BASH Terminal
    = csrf_meta_tags 
    = stylesheet_link_tag     'application',  :media => 'all'
    = javascript_include_tag  'application'
    %script{ :type => "text/javascript", :charset => "utf-8"}
      = "App.domainName = '#{ domain_name }';"
      $(document).ready(function() {
      = yield :js_onready
      });
      
  %body{ :class => controller.controller_name }
    = yield